<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <title>ML</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<!-- local-->
  <link rel="stylesheet" href="../static/styles/bootstrap.min.css">
  <link href="../static/styles/mlstyles.css" rel="stylesheet">
  
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">E M N I S T</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="cnn">CNN <span class="sr-only"></span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="dcgan">DCGAN <span class="sr-only"></span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</nav>

<div class="content ">
	<div class="row clearfix">
		<div class="col-lg-4">
			<canvas class="canvasBox rounded"  id="draw" width="280" height="280" ></canvas><br />
			<p class="text-center">
				<a class="btn btn-default" onclick='clearme()'><i class="fa fa-eraser" aria-hidden="true"><!--a--></i></a>
                <a class="btn btn-default" onclick='calculate()'><i class="fas fa-calculator"></i><!--a--></i></a>
              
			</p>
		</div><!--col4-->
		<div class="col-8 heading" >
        <h3 class="text-info">Model results for Kaggle/EMNIST balanced dataset</h3>
        
		<p><span class="text-warning">Training Data Samples:</span> 112,800  <br />
			<span class="text-warning">Test Data Samples: </span>18,800 <br />
            <span class="text-warning">Target classes: </span>47 : <br/>[ 
            0 1 2 3 4 5 6 7 8 9 
            A B C D E F G H I J K L M N O P Q R S T U V W X Y Z a b d e f g h n q r t ]
        </p>
		
		<table class="table table-hover ">
			<thead>
				<tr>
				  <th scope="col">Model</th>
				  <th scope="col">Specs</th>
				  <th scope="col">Accuracy</th>
				  <th scope="col"></th>
				</tr>
			</thead>
			<tbody>
				<tr class="table-secondary">
				  <th scope="row">Convolutional Network </th>
				  <td>Epochs=</td>
				  <td>0.</td>
				  <td></td>
				</tr>
				<tr class="table-secondary">
				  <th scope="row"></th>
				  <td></td>
				  <td></td>
				  <td></td>
				</tr>
				
			</tbody>
            </table>
            <div id="result"></div>
		</div><!--col8-->
	</div><!--row-->
	<div class="row">
	
	</div><!--row-->
	
</div><!--content-->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

<script src="https://d3js.org/d3.v5.min.js"></script>

<script src="../static/js/canvas.js"></script>
<!--
For about:
Definitions
References
Libaries
	Python: 
	
	Javascript: bootrstrap, awesome fonts, google fonts, 	 -->

</body>
</html>